.additional {
  background-image: linear-gradient(to bottom, #e8e7e8 0%, #d6d3d4 100%);
  position: relative;
  z-index: 1;
  width: 1556px;
  margin: 0 auto;
  max-width: 100%;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: rgba(255, 247, 251, 0.12);
  }
}

.additional__title {
  text-align: center;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #969696;
  font-weight: bold;
}

.additional__grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -95px;
  margin-left: -95px;
}

.additional__grid-cell {
  padding-top: 95px;
  padding-left: 95px;
  width: calc(100% / 3);
}

.additional-item {
  border-radius: 64px;
  background-color: rgba(233, 233, 233, 0.349);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.09);
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.additional-item__number {
  font-size: 310px;
  line-height: 1;
  color: #fff;
  opacity: 0.55;
  font-weight: 800;
  position: absolute;
  left: -20px;
  top: -20px;
}

.additional-item__title {
  font-size: 18px;
  letter-spacing: 0.075em;
  color: #3c3c3c;
  line-height: 30px;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.additional-item__image {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
