.section-contacts {
  padding-top: 44px;
  padding-bottom: 35px;
  background: url('../images/bg-map.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  z-index: 200;
}

.section-contacts__bg-pattern {
  position: absolute;
  width: 640px;
  height: 760px;
  background-color: rgba(250, 241, 236, 0.502);
  top: 0;
  left: 50%;
  transform: skew(20deg);
  z-index: 2;
}

.section-contacts::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100px;
  background: #fff;
  width: 100%;
}

.section-contacts::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% + 200px);
  z-index: 1;
  height: 600px;
  background: #fff;
  width: 50vw;
  transform: skewX(20deg);
}

.section-contacts__title {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 39px;
  color: #ff8825;
  position: relative;
  z-index: 10;

  &::after {
    content: '';
    width: 41px;
    height: 10px;
    background: #ff8a00;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
  }
}

.contacts-body {
  background-color: rgba(46, 48, 53, 0.4);
  padding: 52px 80px 25px;
  position: relative;
  z-index: 20;
  
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(46, 48, 53, 0.4);
  }
}

.contacts-body__groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-body__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.09);
  margin-top: 58px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.025em;
}

.contacts-form {
  margin-top: -85px;
  border-radius: 64px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  padding-top: 113px;
  padding-bottom: 53px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
}

.contacts-form__input {
  width: 360px;
  
  .ui-input-phone {
    width: 100%;
  }
}

.contacts-form__submit {
  margin-top: 22px;
  width: 360px;
  position: relative;
  
  .ui-button-primary {
    width: 100%;
  }
}

.contacts-group {
  width: calc(50% - 40px);
}

.contacts-group__title {
  color: #fff;
  padding-left: 45px;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.025em;
  font-weight: 900;
  position: relative;
}

.contacts-group__title::before {
  content: '';
  width: 37px;
  height: 49px;
  position: absolute;
  left: -4px;
  top: -6px;
  background: url('../images/icon-marker.svg') no-repeat 50% 50%;
  background-size: cover;
}

.contacts-group__address {
  color: #fff;
  letter-spacing: 0.025em;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(227, 227, 227, 0.471);
  margin-top: 26px;
}

.contacts-group__data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 40px;
}

.contacts-group__data-item {
  color: #fff;
  letter-spacing: 0.025em;
  font-size: 18px;
  line-height: 24px;
  position: relative;

  a {
    text-decoration: none;
    color: currentColor;
  }
}

.contacts-group__data-item_email {
  padding-left: 32px;
}

.contacts-group__data-item_email::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 30px;
  height: 25px;
  background: url('../images/icon-email.svg') no-repeat 50% 50%;
  background-size: cover;
}

.contacts-group__data-item_phone {
  padding-left: 22px;
}

.contacts-group__data-item_phone::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1px;
  width: 19px;
  height: 26px;
  background: url('../images/icon-phone.svg') no-repeat 50% 50%;
  background-size: cover;
}
