.footer {
  background: #eeedf3;
  position: relative;
  z-index: 200;
}

.footer__primary {
  border-bottom: 1px solid rgba(255, 255, 255, 0.529);
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.footer__menu li + li {
  margin-left: 15px;
}

.footer__menu li a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.075em;
  color: #707070;
  display: block;
  line-height: 22px;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  border-radius: 11px;
  text-decoration: none;
}

.footer__menu li a:hover {
  color: #000;
}

.footer__menu li a::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 33px;
  height: 8px;
  background: #ff8a00;
  border-radius: 3px;
  display: none;
}

.footer__menu li a:hover::after {
  display: block;
}

.footer__menu li.active a {
  background: #ff8a00;
  color: #fff;
}

.footer__menu li.active a::after {
  display: none;
}

.footer__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  letter-spacing: -0.005em;
  color: #2e343c;
  display: inline-block;
  position: relative;
  padding-right: 24px;
}

.footer__phone-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('../images/icon-phone.png') no-repeat 50% 50%;
  background-size: cover;
}

.footer__secondary {
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 12px;
  line-height: 16px;
  color: #666;
  letter-spacing: 0.05em;
  width: 360px;
}

.footer__copyright span {
  position: relative;
  padding-left: 6px;
}

.footer__copyright span::before {
  content: '';
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer__links {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links li + li {
  margin-top: 15px;
}

.footer__links li a {
  display: inline-block;
  text-decoration: underline;
  font-size: 12px;
  color: #666;
  letter-spacing: 0.05em;
  line-height: 22px;
  padding: 0 10px;
  border-radius: 11px;
}

.footer__links li a:hover {
  color: #fff;
  background: #808083;
}

.footer__counters {
  width: 360px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer__counters-item + .footer__counters-item {
  margin-left: 40px;
}

.footer-creator {
  display: inline-block;
  opacity: 0.8;
}

.footer-creator:hover {
  display: inline-block;
  opacity: 1;
}

.footer-creator img {
  display: block;
}
