.intro {
  background: #ffffff url('../images/bg-intro.jpg') no-repeat 50% 0;
  padding-top: 35px;
  padding-bottom: 55px;

  @include below(sm) {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}

.intro-special {
  margin-bottom: 61px;

  @include below(sm) {
    margin-bottom: 45px;
  }
}

.intro-special__title {
  font-size: 16px;
  color: #818181;
  letter-spacing: 0.160em;
  font-weight: bold;
  line-height: 1;
  text-align: center;

  @include below(sm) {
    font-size: 14px;
  }
}

.intro-special__desc {
  font-size: 16px;
  letter-spacing: 0.160em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #010101;
  margin-top: 9px;

  span {
    background: #eff500;
    padding: 4px 6px;
    border-radius: 12px;
    display: inline-block;
    line-height: 1;
  }

  @include below(sm) {
    font-size: 14px;
    margin-top: 6px;
  }
}

.intro__body {
  background-color: rgba(215,215,215,.2);
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include below(sm) {
    margin-left: -48px;
    margin-right: -48px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.intro-form {
  margin-top: -20px;
  border-radius: 64px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;

  @include below(sm) {
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 36px;
  }
}

.intro-form__title {
  font-weight: bold;
  line-height: 1;
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.05em;
  white-space: nowrap;
  margin: 0 -100px 30px;
  color: #9a9590;

  span {
    font-size: 60px;
    color: #818181;
    letter-spacing: 0.1em;
    display: block;
    margin-bottom: 8px;
  }

  @include below(sm) {
    font-size: 30px;
    margin-bottom: 20px;
    span {
      font-size: 34px;
    }
  }
}

.intro-form__desc {
  color: #fb8624;
  font-size: 23px;
  letter-spacing: 0.075em;
  line-height: calc(30 / 23);
  padding: 0 18px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);

  @include below(sm) {
    font-size: 16px;
    padding: 0 12px;
  }
}

.intro-form__input {
  margin-top: 45px;
  width: 360px;
  max-width: calc(100% - 16px);
  
  .ui-input-phone {
    width: 100%;
  }

  @include below(sm) {
    margin-top: 30px;
  }
}

.intro-form__submit {
  margin-top: 18px;
  width: 360px;
  position: relative;
  max-width: calc(100% - 16px);
  
  .ui-button-primary {
    width: 100%;
  }

  &::before {
    content: '';
    right: 0;
    top: 0;
    background: url('../images/icon-call.svg') no-repeat 50% 50%;
    background-size: cover;
    width: 41px;
    height: 42px;
    position: absolute;
    display: block;
  }
}

.intro__urgent {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 33px 0 40px;
  color: #969696;

  @include below(sm) {
    font-size: 36px;
    padding: 25px 0;
  }
}

.intro-advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;

  @include below(sm) {
    margin-top: 30px;
    flex-wrap: wrap;
  }
}

.intro-advantages__item {
  position: relative;
  padding-left: 43px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    bottom: -3px;
    width: 23px;
    background-color: rgb(255, 136, 37);
    border-radius: 12px;
  }

  @include below(md) {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    &::before {
      display: none;
    }
  }

  @include below(sm) {
    width: 100%;
    & + .intro-advantages__item {
      margin-top: 20px;
    }
  }
}

.intro-advantages__item-title {
  font-weight: bold;
  color: #ff8825;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.intro-advantages__item-desc {
  font-weight: bold;
  color: #010101;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.01em;
  margin-top: 6px;
}
