@import 'responsive';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Panton', sans-serif;
}

.ui-wrapper {
  // overflow: hidden;
}

.ui-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1194px;
  max-width: 100%;
  box-sizing: border-box;

  &_large {
    width: 1490px;
  }

  @include below(lg) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include below(sm) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.ui-input-phone {

}

.ui-input-phone__label {

}

.ui-input-phone__input {

}

.ui-button-primary {
  font-size: 22px;
  letter-spacing: 0.1em;
  line-height: 1;
  text-transform: uppercase;
  padding: 25px 40px;
  border-radius: 36px;
  border: none;
}

